
<div class="label-container" [ngStyle]="style">
    <span class="chat-label label" [ngClass]="{'invisible-label': !chatMessage}">{{chatMessage}}</span>
    <span class="name-label label" label>{{name}}</span>
</div>