.label-container {
    display: grid;
    grid-gap: 0.5em;
    position: absolute;
    align-items: center;
    justify-items: center;
    transform: translateX(-50%);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.label {
    display: grid;
    background: rgba(100, 100, 100, 0.5);
    color: white;
    border: 1px solid black;
    padding: 3px;
    font-size: 0.9em;
    min-height: calc(1em + 4px);
    justify-items: center;
}

.chat-label {
    background: rgba(200, 200, 200, 0.8);
    color: black;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.33em;
}

.name-label {
    min-width: 5em;
    max-width: 5em;
}

.invisible-label {
    opacity: 0;
}