.create-avatar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    height: 100%;
}

.canvas-container {
    position: relative;
    color: black;
}

.canvas-tooltip {
    position: absolute;
    margin: 0.5em;
    top: 0;
    left: 0;
    z-index: 2;
}

.no-avatar-tooltip {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.avatar-input {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#create-avatar-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.animations {
    overflow-y: auto;
    max-height: 15em;
}