<div class="profile-header">
    <h3 class="name">{{customData.username}}</h3>

    <input name="profilePicture" #uploadFile (change)="uploadProfilePicture($event)" type='file' style="display:none"/>
    <div class="picture">
        <button *ngIf="me" (click)="uploadFile.click()" type="button"></button>
        <img *ngIf="showPicture" [src]="profilePictureUrl" [alt]="'Profile picture of ' + customData.username">
        <mat-icon *ngIf="showPlaceholder">upload</mat-icon>
    </div>

    <p class="bio">
        This is an example bio
    </p>
</div>
