
.profile-header {
    display: grid;
}

.bio {
    font-style: italic;
}

.picture {
    width: 200px;
    height: 200px;
    position: relative;
    justify-self: center;
    background: #aaa;
    display: grid;
    justify-items: center;
    align-items: center;
}

.picture button {
    border: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}