<form (ngSubmit)="create()">
    <div class="container">
        <input type="text" name="name" placeholder="Name" title="Name" [(ngModel)]="item.name">
        <input type="submit" value="Create" name="Create">
    </div>
</form>
<div class="error">{{error}}</div>
