<form #f="ngForm" (ngSubmit)="login(f)" class="login">
    <mat-error *ngIf="error">{{error}}</mat-error>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input name="username" type="text" ngModel matInput required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input name="password" type="password" ngModel matInput required>
    </mat-form-field>
    <button mat-button mat-flat-button color="primary">Login</button>
</form>
