.items-container {
    position: relative;
    height: 100%;
    flex-grow: 5;
    overflow-y: auto;
    max-height: 100%;
}

.items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.item {
    display: grid;
    height: 1.5em;
    grid-gap: 0.5em;
    grid-template-columns: auto 1fr;
    max-height: 1.2em;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 1em;
    cursor: pointer;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
}

.item-handle {
    cursor: move;
    font-size: 1.4em;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item:hover {
    border: 2px solid black;
}

.item-highlighted {
    border: 2px solid gray;
}

.item-dragging {
    border: 2px solid black;
    background: #666;
    min-width: 15em;
}