<div #scrollContainer class="items-container">
    <div class="items" cdkDropList cdkDropListSortingDisabled>
        <div class="item"
             [ngClass]="{'item': true, 'item-highlighted': highlighted === item}"
             (click)="itemClicked(item)"
             (cdkDragStarted)="dragStarted($event, item)"
             (cdkDragEnded)="dragEnded($event, item)"
             (cdkDragMoved)="dragMoved($event, item)" *ngFor="let item of resourceService.models | async" cdkDrag>
            <div class="item item-dragging" *cdkDragPreview>
                <app-item [item]="item"></app-item>
            </div>
            <div class="item-handle" cdkDragHandle>
                &#10021;
            </div>
            <app-item [item]="item"></app-item>
        </div>
    </div>
</div>