<div class="create-avatar">
    <div class="canvas-container">
        <h4 class="canvas-tooltip">Preview</h4>
        <h4 class="canvas-tooltip vr-readiness" [title]="vrError">
            <span *ngIf="vrReady" class="vr-ready"><mat-icon>check</mat-icon> VR</span>
            <span *ngIf="!vrReady" class="vr-not-ready"><mat-icon>close</mat-icon> VR</span>
        </h4>
        <p *ngIf="!avatar" class="no-avatar-tooltip">No avatar selected</p>
        <canvas id="create-avatar-canvas" #createAvatarCanvas></canvas>
    </div>

    <form #form class="avatar-input" (ngSubmit)="submit()">
        <mat-form-field *ngIf="avatar">
            <input matInput name="name" [(ngModel)]="avatarName" type="text" required>
            <mat-label>Avatar name</mat-label>
            <mat-error *ngFor="let error of errors.name">{{error}}</mat-error>
        </mat-form-field>
        <div *ngIf="avatar" class="section">
            <h4>Animations</h4>
            <mat-form-field *ngFor="let action of animations">
                <mat-label>
                    {{action.name}}
                </mat-label>
                <mat-select [name]="action.id + '-animation'" [(ngModel)]="action.animation">
                    <mat-option *ngFor="let animation of animationClips" [value]="animation.name">Animation - {{animation.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <h4>VR rig</h4>
            <mat-form-field *ngFor="let boneSlot of boneSlots">
                <mat-label>
                    {{boneSlot.name}}
                </mat-label>
                <mat-select [name]="'vr_bone_slot-' + boneSlot.id" [(ngModel)]="boneSlot.bone" (ngModelChange)="boneSlotChanged($event)">
                    <mat-option [value]="undefined">Remove Selection</mat-option>
                    <mat-option *ngFor="let bone of bones" [value]="bone.name">{{bone.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button *ngIf="!avatar" (click)="uploadFile.click()" type="button" mat-raised-button color="primary">Choose File</button>
        <input name="model" #uploadFile (change)="upload($event)" accept=".glb, model/gltf-binary" type='file' style="display:none"/>
        <button class="avatar-submit" type="submit" *ngIf="avatar" mat-flat-button color="primary">Save</button>
    </form>
</div>