.create-avatar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    height: 100%;
}

.canvas-container {
    position: relative;
    color: black;
}

.canvas-tooltip {
    position: absolute;
    margin: 0.5em;
    top: 0;
    left: 0;
    z-index: 2;
}

.vr-readiness {
    top: auto;
    bottom: 0;
    border-radius: 3px;
}

.vr-readiness:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.vr-ready {
    color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.vr-not-ready {
    color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.no-avatar-tooltip {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.avatar-input {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#create-avatar-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section {
    overflow-y: auto;
    max-height: 15em;
}