<app-model-list [highlighted]="selected" (modelClicked)="modelClicked($event)"></app-model-list>
<form #uploadForm enctype="multipart/form-data" class="bottom">
    <button (click)="uploadFile.click()" type="button" mat-raised-button color="primary">Add mesh</button>
    <input name="model" #uploadFile (change)="uploadMesh($event)" accept=".glb, model/gltf-binary" type='file' style="display:none"/>
    <button *ngIf="selected" (click)="deleteSelected()" type="button" mat-raised-button color="warn">Delete</button>
</form>
