@import "../../../colors.scss";

:host {
    display: grid;
    grid-template-rows: 1fr 3em;
}

.bottom {
    display: grid;
    color: white;
    background: #444;
    grid-template-columns: repeat(3, 1fr);
}
