.edit-mode {
    display: grid;
    grid-gap: 1em;
}

.edit-section {
    border: 1px solid #222222;
    margin-top: 0.5em;
}

.section-header {
    background: #222222;
    font-size: 0.85rem;
    padding: 0.5em;
}

.section-content > * {
    display: flex;
    padding: 0.5em;
}