<div *ngIf="object">
    <div class="edit-section">
        <div class="section-header">Translation</div>
        <div class="section-content">
            <mat-radio-group class="edit-mode" [(ngModel)]="editMode" aria-label="Select an option">
                <mat-radio-button [value]="EditMode.MOVE">Move</mat-radio-button>
                <mat-radio-button [value]="EditMode.ROTATE">Rotate</mat-radio-button>
                <mat-radio-button [value]="EditMode.SCALE">Scale</mat-radio-button>
            </mat-radio-group>
            <button class="bottom-button" (click)="resetRotation()">Reset rotation</button>
        </div>
    </div>
</div>
