@import "../../../colors";

.enter-room {
    display: grid;
    width: 22em;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

.room-error {
    color: $color-warn;
}

.enter-button {
    align-self: center;
}

.header {
    grid-column: -1 / 1;
}