<form #f="ngForm" class="enter-room" (ngSubmit)="loadRoom()">
    <div class="header">
        <span *ngIf="!roomNotFound">
            Enter a room to join
        </span>
        <span *ngIf="roomNotFound" class="room-error">
            We couldn't find that room. Please try something else.
        </span>
    </div>
    <mat-form-field>
        <mat-label>Room</mat-label>
        <input name="room" type="text"[(ngModel)]="room" matInput required>
        <mat-error *ngIf="roomNotFound">Room not found.</mat-error>
    </mat-form-field>
    <button class="enter-button" mat-button mat-flat-button color="primary">Enter</button>
</form>