.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    padding: 1em;
}

.post-register {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-items: center;
    padding: 1em;
}

.register-button {
    grid-column: -1 / 1;
}