<form *ngIf="!success" #f="ngForm" class="register" (ngSubmit)="register(f)">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" name="username" matInput ngModel required>
        <mat-error *ngFor="let error of errors.username">{{error}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput ngModel required>
        <mat-error *ngFor="let error of errors.email">{{error}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput ngModel required>
        <mat-error *ngFor="let error of errors.password">{{error}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password again</mat-label>
        <input type="password" name="passwordAgain" matInput ngModel required>
        <mat-error *ngFor="let error of errors.passwordAgain">{{error}}</mat-error>
    </mat-form-field>
    <button mat-button mat-flat-button color="primary" class="register-button">Register</button>
</form>
<div *ngIf="success" class="post-register">
    <div>
        <span>Registered successfully! </span>
        <span *ngIf="!verificationRequired">You can now log in.</span>
        <span *ngIf="verificationRequired">
            An email has been sent to you with a confirmation link.
            Please use it before logging in.
        </span>
    </div>
</div>