<div class="root">
    <mat-form-field>
        <mat-label>
            <ng-container *ngIf="avatarService.avatars.length > 0">Select avatar</ng-container>
            <ng-container *ngIf="avatarService.avatars.length == 0">No avatars</ng-container>
        </mat-label>
        <mat-select [ngModel]="avatarService.avatar | async"
                    (ngModelChange)="avatarService.avatar.next($event)">
            <mat-option *ngFor="let avatar of avatarService.avatars" [value]="avatar">
                {{avatar.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="actions">
        <button mat-button mat-flat-button color="primary" (click)="createAvatar()">Create</button>
        <button *ngIf="avatarService.avatar | async"
                mat-button mat-flat-button color="primary"
                (click)="editAvatar()">
            Edit
        </button>
    </div>
</div>