.item {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
}

.item-delete {
    align-self: end;
}

.item {
    justify-items: center;
}