.context-menu {
    position: absolute;
    display: grid;
    pointer-events: all;
    padding: 0.5em;
    background: #444;
    border: 1px solid black;
}

.menu-header {
    color: white;
    margin: 0.5em;
}
