<div *ngIf="menuService.isOpen"
     class="context-menu"
     [style.top.px]="menuService.posY"
     [style.left.px]="menuService.posX"
     data-menu>
    <h4 class="menu-header">{{menuService.menuData.header(menuService.customData)}}</h4>
    <button type="button" *ngFor="let option of menuService.menuData.options" (click)="onClick(option)">
        {{option.name}}
    </button>
</div>
