:host {
    display: grid;
    grid-template-rows: 1fr 3em;
}

.chat-top {
    display: grid;
    margin: 0.5em 0;
    border: 1px solid #aaa;
    grid-template-columns: 8em 1fr;
}

.tabs {
    border-right: 1px solid #aaa;
}

.messages-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.messages {
    position: relative;
    min-height: 8em;
    flex-grow: 5;
    margin: 0.5em;
    overflow-y: scroll;
    max-height: 100%;
    font-family: monospace;
}

.send {
    display: grid;
    grid-template-columns: 5em 1fr;
    align-items: center;
    grid-gap: 0.5em;
}

.send button {
    margin: 0;
    min-width: auto;
    width: auto;
}

.send input {
    height: 1.5em;
}

.channel-button {
    width: 100%;
    padding: 0.3em;
    text-align: start;
    margin: 0;
}

.channel-button.current {
    background: #666;
}
