
<div class="chat-top" (click)="setChannel(this.channel)">
    <div class="tabs">
        <button *ngFor="let thisChannel of channels"
                (click)="setChannel(thisChannel)"
                class="channel-button" [ngClass]="{'current': thisChannel === channel}">
            {{thisChannel.getChannelData().name}}
        </button>
    </div>
    <div class="messages" #scrollView>
        <div *ngIf="channel" class="messages-container">
            <div *ngFor="let message of channel.messages" class="message" [innerHTML]="">
                <span *ngIf="message.sender !== 'system'"><{{message.sender}}>: </span>
                <span [innerHTML]="message.text | safe:'html'"></span>
            </div>
        </div>
    </div>
</div>
<form class="send" ngForm autocomplete="off">
    <button type="submit" (click)="say()">Send</button>
    <input name="text" type="text" [(ngModel)]="message.text">
</form>
