#content, #canvas, #ui {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
}

.vr-message {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    background: black;
    color: #aaa;
}

.vr-enabled {
    opacity: 0;
}

.vr-enabled-content {
    background: black;
}

.window-container {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 3em;
}

.label-container {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fps-counter {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    background: #333;
    color: white;
}

#ui {
    z-index: 10;
}

.ui-container {
    pointer-events: none;
}

.topbar {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    justify-content: flex-end;
    margin: 0.5em;
}

.no-room-notification {
    position: absolute;
    background: white;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    padding: 1em;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.bottom-bar {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background: #444444;
}

.bottom-bar button.active {
    background: #333333;
}

.chat {
    pointer-events: auto !important;
    margin: 0.5em;
    background: #666;
    width: 800px;
    height: 400px;
}

.logout {
    pointer-events: auto !important;
}

.login-container {
    background-color: white;
    position: absolute;
    padding: 1em;
    display: grid;
    justify-items: center;
    align-items: center;
}

.invisible {
    display: none;
}

.bottom-button {
    position: relative;
}

.button-notify {
    position: absolute;
    right: 0;
    top: -0.5em;
    background: red;
    border-radius: 1em;
    padding: 0.0em;
    width: 1em;
}
