<div id="content" [ngClass]="{'vr-enabled-content': inVr}">
    <div ui game-input id="ui" custom-context-menu (onContextMenu)="contextMenu($event)">
        <div class="ui-container topbar">
            <app-logout *ngIf="user | async" class="logout"></app-logout>
        </div>
        <div class="fps-counter">FPS: {{sceneService.fps | number : '1.1-1'}}</div>
        <div class="label-container">
            <app-label *ngFor="let label of nameLabelService.labels"
                       [name]="label.name"
                       [chatMessage]="label.chatMessage"
                       [position]="label.position">
            </app-label>
        </div>
        <window-container class="window-container" (created)="createWindows()"></window-container>
        <app-context-menu></app-context-menu>
        <div class="login-container" *ngIf="!(user | async)">
            <app-login *ngIf="page === Page.LOGIN"></app-login>
            <app-register *ngIf="page === Page.REGISTER"></app-register>
            <button mat-button color="primary" *ngIf="page === Page.LOGIN" (click)="page = Page.REGISTER">Register</button>
            <button mat-button color="primary" *ngIf="page === Page.REGISTER" (click)="page = Page.LOGIN">Back</button>
        </div>
        <div *ngIf="roomService.noRoomProvided && (user | async)" class="no-room-notification">
            <app-select-avatar></app-select-avatar>
            <app-enter-room *ngIf="avatarService.avatar.getValue()" [roomNotFound]="roomService.roomNotFound" [defaultRoom]="roomService.room"></app-enter-room>
        </div>
        <div class="bottom-bar">
            <button *ngFor="let window of windows" 
                    (click)="windowService.toggle(window.component)" class="bottom-button">
                {{window.options.name}}
                <div class="button-notify" *ngIf="window.options.notification | async">
                    {{window.options.notification | async}}
                </div>
            </button>
            <button *ngIf="navigatorXR && cellService.cell" class="bottom-button" (click)="toggleVR()">
                <ng-container *ngIf="!vrLoading && !inVr">Enter VR</ng-container>
                <ng-container *ngIf="vrLoading">Loading...</ng-container>
                <ng-container *ngIf="!vrLoading && inVr">Exit VR</ng-container>
            </button>
            <button *ngIf="inVr" class="bottom-button" (click)="recenter()" title="Place your headset on the floor, in the middle of play area and click here to recenter.">
                Recenter
            </button>
        </div>
    </div>
    <div class="vr-message" *ngIf="inVr">
        VR active. Put on headset.
    </div>
    <canvas scene id="canvas" [ngClass]="{'vr-enabled': inVr}"></canvas>
    <canvas style="display: none" id="dataCanvas"></canvas>
</div>
