/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";

body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

button, .button {
    font: inherit;
    align-items: center;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    border: 1px solid #666666;
    padding: 0.5em;
    margin: 0.5em;
    width: 10em;
}

button:focus, .button:focus {
    outline: 0;
}

.button:active {
    outline: none;
    border: 1px solid white;
}

button:hover, .button:hover {
    border: 1px solid #cdcdcd;
}

.ng-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    touch-action: none;
}

.ng-resizable-diagonal {
    box-sizing: border-box;
    border-bottom: 12px solid #aaa;
    border-left: 12px solid transparent;
}

.ng-resizable-s {
    cursor: s-resize;
    height: 7px;
    bottom: -5px;
    width: 100%;
    left: 0;
}

.ng-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ng-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    height: 100%;
    top: 0;
}
