<div class="window"
     #window
     [ngClass]="{'invisible': !active}" 
     cdkDrag cdkDragBoundary=".window-container" [ngResizable]="resizable" rzHandles="se">
    <div class="header" cdkDragHandle>
        <div class="name">{{options.name}}</div>
        <button class="close-button" (click)="closeWindow()">X</button>
    </div>
    <ng-template #content class="window-content"></ng-template>
</div>