@import "../../../colors";

.window {
    display: grid;
    pointer-events: all;
    position: absolute;
    grid-template-rows: 2em 1fr;
    flex-direction: column;
    background: #444;
    min-height: 14em;
    min-width: 17em;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
}

.header {
    position: relative;
    background: #333333;
    cursor: move;
}

.name {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.window-content {
    flex: 1;
}

.window-content {
    flex-grow: 1;
}

.close-button {
    position: absolute;
    max-width: 1.5em;
    background: #222;
    color: $color-warn;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 2px;
}

.invisible {
    display: none;
}
