
<h3>Brush</h3>
<div class="edit-map-buttons">
    <button (click)="clearBrush()" mat-icon-button matTooltip="Clear brush">
        <mat-icon>close</mat-icon>
    </button>
    <button *ngFor="let brush of brushes" (click)="setBrush(brush)" mat-icon-button [color]="brush.color" [matTooltip]="brush.name">
        <mat-icon>{{brush.icon}}</mat-icon>
    </button>
</div>
<div class="edit-map-slider">
    <label for="sizeSlider">Size</label>
    <mat-slider color="accent" discrete min="1" max="50" step="1" (input)="setSize($event)">
        <input id="sizeSlider" matSliderThumb [value]="config.size">
    </mat-slider>
    <label for="forceSlider">Force</label>
    <mat-slider color="accent" discrete min="1" max="100" step="1" (input)="setForce($event)">
        <input id="forceSlider" matSliderThumb [value]="config.force">
    </mat-slider>
</div>